# Database connection string
DATABASE_URL="postgresql://postgres:password@localhost:5432/help_desk?schema=public"

# The port your server will run on (optional, defaults to 5000)
PORT=3000

JWT_SECRET=KEY